/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2015, 02:19:27
    Author     : RainWhileLoop
*/

#content{
    background-color: aqua;
    max-width: 1066px;
    min-width: 1003px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: auto;
}
#desc{
    float: left;
    clear: left;
    width: 640px;
    z-index: 0;
}
#sidebar{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    width: 396px;
    height: 1346px;
    float: right;
    clear: right;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 15px 15px 15px 5px;
}
#content-header{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 132px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px 15px 5px 15px;
}
#content-details{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 66px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
#content-discussion{
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.1);
    height: 967px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 15px;
}
