/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 17-Feb-2015, 01:21:56
    Author     : RainWhileLoop
*/

#header-container{
    background-color: #fff;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 100;
    padding-top: 7px;
    padding-bottom: 8px;
    padding-left: 30px;
    padding-right: 30px;
    height: 34px;
    float: left;
}

#img-logo{
    height: 34px;
    float: left;
}

#search-form{
    display: inline;
}

#head-logo{
    width: 200px;
    float: left;
}

#head-user{
    width: 168px;
    float: right;
}
#head-search{
    float: left;
    display: block;
    max-width: 650px;
}

#search-btn{
    height: 31px;
    float: right;
    display: inline;
    padding: 0;
}

#inputSearch{
    font-size: 16px;
    float: right;
    padding: 2px 6px;
    height: 23px;
    width: 566px;
}

#icon{
    display: block;
    border: none;
    padding: 0;
    opacity: .6;
    text-indent: -10000px;
    background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-vflZjw0oc.webp) -155px -172px;
    background-size: auto;
    width: 14px;
    height: 14px;
    box-shadow: none;
    margin: 0 25px;
}