/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 22-Feb-2015, 01:40:13
    Author     : RainWhileLoop
*/

#theater{
    background-color: #1b1b1b;
    height: 510px;
    margin: 0 0 0 0;
    width: 1366px;
    left: 0px;
    right: 0px;
    position: relative;
}
#content-main{
    margin: 0 0 0 0;
    width: 1366px;
    left: 0px;
    right: 0px;
    position: absolute;
    height: 100%;
}

#video{
    width: 720px;
    height: 480px;
    left: 25%;
    position: relative;
}